In [1]:
import pandas as pd

PROBLEM 2: Save your file as Surname_Pandas-P2.py

In [3]:
cars = pd.read_csv('cars.csv')
df = cars

In [4]:
cars.iloc[:5, 1::2]

    mpg   disp  drat   qsec  am  carb
0  21.0  160.0  3.90  16.46   1     4
1  21.0  160.0  3.90  17.02   1     4
2  22.8  108.0  3.85  18.61   1     1
3  21.4  258.0  3.08  19.44   0     1
4  18.7  360.0  3.15  17.02   0     2

In [5]:
df.loc[df['Model'] == 'Mazda RX4']

NameError: name 'df' is not defined