In [1]:
import pandas as pd

PROBLEM 2: Save your file as Surname_Pandas-P2.py

In [2]:
cars = pd.read_csv('cars.csv')
cars
df = cars

In [3]:
cars.iloc[:5, 1::2] #a

    mpg   disp  drat   qsec  am  carb
0  21.0  160.0  3.90  16.46   1     4
1  21.0  160.0  3.90  17.02   1     4
2  22.8  108.0  3.85  18.61   1     1
3  21.4  258.0  3.08  19.44   0     1
4  18.7  360.0  3.15  17.02   0     2

In [4]:
df.loc[df['Model'] == 'Mazda RX4'] #b

       Model   mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
0  Mazda RX4  21.0    6  160.0  110   3.9  2.62  16.46   0   1     4     4

In [5]:
df.loc[(df['Model']=='Camaro Z28'), ['cyl']] #c

    cyl
23    8

In [6]:
df.loc[df['Model'].isin(['Mazda RX4 Wag', 'Ford Pantera L', 'Honda Civic']), ['cyl', 'gear']] #d

    cyl  gear
1     6     4
18    4     4
28    8     5